@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Courgette&family=Great+Vibes&family=Montserrat:ital,wght@0,400;1,400;1,500&family=Open+Sans&family=Raleway:wght@100&display=swap");

.bookDetails {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
.bookTitle {
  font-family: "Bad Script", "Courgette", "Great Vibes", "Montserrat", "cursive";
  font-size: 50px;
  margin: 16px;
  text-align: center;
}
.detailsTitle {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding-top: 2vh;
}
.detailsParagraph {
  font-size: 15px;
  /*  overflow: scroll; test it with book the secret garden*/
}

.bookDetails p,
h3 {
  margin: 5px 0px;
}

.bookImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.bookImage img {
  min-height: 480px;
}

.bookDescription {
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  line-height: 1.6;
}
